{% extends 'base.html' %}

{% block content %}

    <div>
        <h2>Tweets</h2>
    </div>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>

    <script>
        var endpoint = 'ws://' + window.location.host + '/articles/'
        var socket = new WebSocket(endpoint);

        socket.onmessage = function(e){
            console.low("open", e)
        }

        socket.onerror = function(e){
            console.log("error", e)
        }

        socket.onopen = function open() {
          console.log('WebSockets connection created.');
        };

        socket.onclose = function(e){
            console.log("close", e)
        }

        if (socket.readyState == WebSocket.OPEN) {
          socket.onopen();
        }


    </script>

{% endblock %}
