{% extends 'base.html' %}

{% block content %}
    {% load micawber_tags %}
    <div>
        <h2>Tweets</h2>
    </div>

        <div class="container">
		<div class="row">
			<div class="col-6 mx-auto mt-5">
				<div id="app" style="display: block;">
					{% for tweet in tweets %}
						{{ tweet|oembed_html:"600x600" }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<script>
		var socket = new WebSocket('ws://localhost:6379/ws/some_url/');

        socket.onmessage = function(event){
			var data = JSON.parse(event.data);
			console.log(data);
			document.querySelector('#app').innerHTML = data.message
		}
	</script>

{% endblock %}