{% load static %}

<html>
    <head>
        <title>Weight Loss Website</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <script src="{% static '/js/main.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        {% if request.user.is_authenticated %}
            <p>Hello, {{request.user.username}} | <a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p><a href="{% url 'register' %} ">Register</a> | <a href="{% url 'login' %}">Login</a></p>
        {% endif %}

    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}

        {% endblock %}
    </body>
</html>