{% extends 'base.html' %}

{% block content %}
<script>

</script>

<div class="homepage-background">
    <h1 class="text-center">The Nutrionists - Website</h1>

    <div class="container">
        <div class="card" style="width: 100%; border-radius: 25px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <img src="/static/images/nutrition.jpg" alt="just_a_pic" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <p>New to Nutrionists?</p>
                        <hr>
                        <p>Enter details here</p>
                        <hr>

                        <div>
                            <h2>BMI Calculator</h2>
                        </div>

                        <div id="metric_bmi_form" style="display: block;">
                            <form method="get" action="/">
                                <label>Weight(kg) </label>
                                <input name="weight_metric" value={{weight_metric}}><br><br>
                                <label>Height(m) </label>
                                <input name="height_metric" value={{height_metric}}><br>
                                <p><a href="/">Reset</a></p>
                                <input type="submit" value="Calculate">
                            </form>
                        </div>


                        <p id="bmi_output_message">
                            {% if bmi == -2 %}
                            Please enter your details to calculate your BMI.
                            {% elif bmi == -1 %}
                            <strong>Please enter correct inputs. This includes using positive numbers and checking
                                whether kilograms and meters were used.</strong>
                            {% else %}
                            <strong>BMI</strong>: {{ bmi }}

                            {% if range %}
                            <p>You are in the <strong> {{ range }} </strong> range.</p>
                            <h3>BMI range</h3>
                            <p>
                                BMI < 18.5=Underweight<br>
                                    BMI in range 18.5 - 25 = Healthy Weight<br>
                                    BMI in range 25 - 30 = Overweight<br>
                                    BMI in range 30 - 40 = Obese<br>
                                    BMI > 40 = Extremely Obese
                            </p>
                            {% endif %}
                            {% endif %}
                        </p>

                    </div>
                </div>
                <br>
                <h3 class="text-center">What's in your food? Learn about calorie count, nutrition information and
                    serving size</h3>
                <div class="text-center">
                    <span style="font-size: 30px; color: green;"><i class="fas fa-arrow-down"></i></span>
                </div>
                <div class="text-center mt-3 mb-3">
                    <a href="/search" class="btn btn-success">Go Search</a>
                </div>
                <hr style="border-top: 2px solid green;">
                <div class="row">
                    <div class="col-5">
                        <p class="font_8" style="font-size:15px">This website aims to create an
                            automated meal plan based on user preferences
                            to aid with the weight loss. The premise of the system is for the user
                            to try and lose
                            around 1 kg per week by decreasing their calorie intake.<br>
                            To access a meal plan, please create an account.<br>
                            Having a BMI above healthy weight can be a cause to different health
                            conditions, and the
                            issue can be caused by many things. <a href="https://www.nhs.uk/conditions/obesity/">
                                (More on Obesity)</a>. To check what range you are in, user the BMI
                            calculator above.<br>
                            Main course of action to decrease obesity is to eat a healthier,
                            calorie-reduced diet,
                            and exercise regularly (any form of activity 2.5 to 5 hours a week
                            should be sufficient).
                        </p>
                    </div>
                    <div class="col-7">
                        <img src="/static/images/nutrition_cut.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <hr style="border-top: 2px solid green;">
            </div>
        </div>
    </div>
</div>
<!-- {{ api_data }} -->

{% endblock %}