{% extends 'base.html' %}

{% block content %}
<div class="homepage-background">
    <h1 class="text-center">The Nutrionists - Website</h1>

    <div class="container">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <img src="/static/images/nutrition.jpg" alt="just_a_pic" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <p>New to Nutrionists?</p>
                        <hr>
                        <p>Enter details here</p>
                        <hr>
                        <p>(Calculator goes here)</p>
                    </div>
                </div>
                <br>
                <h3 class="text-center">What's in your food? Learn about calorie count, nutrition information and
                    serving size</h3>
                <div class="text-center">
                    <span style="font-size: 30px; color: green;"><i class="fas fa-arrow-down"></i></span>
                </div>
                <div class="text-center mt-3 mb-3">
                    <a href="/search" class="btn btn-success">Go Search</a>
                </div>
                <hr style="border-top: 2px solid green;">
                <div class="row">
                    <div class="col-4">
                        <div class="about-text">
                            <p style="padding-top: 65px; font-size: 30px; color: green;">About</p>
                        </div>
                    </div>
                    <div class="col-8">
                        <img src="/static/images/nutrition_cut.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <hr style="border-top: 2px solid green;">
            </div>
        </div>
    </div>
</div>
<!-- {{ api_data }} -->

{% endblock %}