<nav>
    <ul>
        {% if request.user.is_authenticated %}
            {% if request.user.progress %}
                <li><a href="#">Dashboard - Recipes</a></li>
            {% endif %}
        {% endif %}
        <li><a href="/">Home</a></li>
        <li><a href="/bmi">BMI Calculator</a></li>
        <li>About - Obesity</li>
        <li>Contact</li>
        <li>Gekata e qk</li>
        <li>Toshko syshto</li>
    </ul>

    {% if request.user.progress %}
    {% else %}
        {% if request.user.is_authenticated %}
            <p><a href="registration_progress">Please Enter Personal Info</a></p>
        {% endif %}
    {% endif %}
</nav>