/* Side Bar */
.wrapper {
    
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    z-index: 9999;
    min-width: 180px;
    max-width: 180px;
    min-height: 100vh;
    /* background: #5abce2; */
    background: #37b837;
    color: #fff;
    transition: all 0.3s;

    text-align: center;
}

#sidebar.active {
    margin-left: -180px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


#sidebar .sidebar-header {
    padding: 20px;
    /* background: #00a1e0; */
    background: #06a006;
}

#sidebar ul.components {
    padding: 20px 0;
    margin-top: 100px;
}


#sidebar ul li a {
    padding: 30px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #06a006;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -180px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/* End of Side Bar */



#content {
    width: 100%;
    padding-left: 180px;
    transition: all 0.3s;

}

#sidebarCollapse {
    background-color: #0ecfff;
    color: white;
    opacity: 0;
    transition: all 0.3s;
    
}


#sidebarCollapse.active {
    padding-left: 180px;
}

@media (max-width: 768px) {
    #content {
        padding-left: 0px;
    }
    #sidebarCollapse {
        opacity: 100%;
    }
}

.content-dashboard {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.widget-header {
    position: relative;
}

.widget-header span {
    position: absolute;
    top: -12px;
    right: -1px;
}

/* Recipe page */

.ingredients ul {
    list-style: none;
    /* Remove default bullets */
}

.ingredients ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #00ff9d;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

.card-recipe {
    border-radius: 35px;
    background-color: #48c448;
    color: white;

}