/* This css is devided into sections 
    1. Home page
    2. BMI page
    3. Contact page
    4. Login Page

*/

/* ALL PAGES */
body {
    background: #9ee1b6;
    background: linear-gradient(to right, #9ee1b6, #87d0a3);
}


/* 1. Home page */
/* ================================================================= */

.about-text {
   

}


/* 3. Contact page */
/* ================================================================= */
.contact-info {
    font-size: 27px;
}

.info-col {
    margin-right: 30px;
}

.title-contact-1 {
    font-size: 47px;
    color: #81b481;
    margin-bottom: 0;
}

.title-contact-2 {
    font-size: 47px;
    color: #81b481;
    margin: 0;
    padding-top: 0;
}

.title-contact-3 {
    font-size: 47px;
    color: #57ac57;
    margin: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.title-contact-4 {
    font-size: 47px;
    color: #208b20;
    margin: 0;
    padding-top: 0;
}

.btn-contact {
    background-color: rgb(8, 150, 8);
    color: white;
}

.btn-contact:hover {
    background-color: rgb(3, 104, 3);
    color: white;
}
/* 4. Login page */
/* ================================================================= */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.body-login {
    background: #9ee1b6;
    background: linear-gradient(to right, #9ee1b6, #87d0a3);
    height: 900px;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('/static/images/nutrition.jpg');
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-login {
    color: white;
    background-color: #1faa1f;
}

.btn-login:hover {
    color: white;
    background-color: #36c536;
}
