{% extends 'base.html' %}
{% block content %}




<!---
# TODO
ADD a table of bmi ranges, allows users to know
what BMI they might want to aim for!

Add cookies, so if users already filled in the height and weight
in the BMI calculator, set to those.

Target BMI or Target weight (easier for users?)
-->


<!-- <form method="post">{% csrf_token %}
    {% for field in progress_form %}
    <p>
        {{ field.label_tag }}
        {{ field }}

        {% if field.help_text %}
        <small style="color: grey;">{{field.help_text}}</small>
        {% endif %}

        {% for error in field.errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}
    </p>

    {% endfor %}
    <button type="submit">Register</button>
</form> -->




<div class="container" style="padding-bottom: 100px;">
    <div class="card mt-3">
        <h2 class="text-center">Personal Information</h2>
        <div class="card-body">
            <form method="post">{% csrf_token %}

                <div class="form-label-group">
                    <input type="text" id="current_weight" name="starting_weight" class="form-control"
                        placeholder="Current Weight" required autofocus>
                    <label for="starting_weight">Current Weight (kg)</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="current_height" name="starting_height" class="form-control"
                        placeholder="Username" required autofocus>
                    <label for="starting_height">Current Height (m)</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="bmi" name="target_bmi" class="form-control" placeholder="Username" required
                        autofocus>
                    <label for="target_bmi">Target BMI</label>
                </div>
                <!-- 
                {% for field in progress_form %}
                <p>


                    {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </p>

                {% endfor %} -->


                <div class="text-center">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock content %}