{% extends 'base.html' %}
{% block content %}

    <br>
    <h2>Welcome {{ request.user.username }}!</h2>
    <br>

    {% if not request.user.diet %}
        <p>To get started, please fill in your preferences to generate recipes.</p>
        <p><a href="{%url 'set_dietary_preferences' request.user.pk %}">Add Preferences</a></p>
    {% else %}
        <p><a href="{%url 'set_dietary_preferences' request.user.pk %}">Edit Preferences</a></p>
        <p><a href="{%url 'view_recipe_recommendations' request.user.pk %}">View Recipes based on preferences</a></p>
    {% endif %}



    <h4>Current Progress</h4>
    <br>
    <p style="margin-left:30px;">
        Current BMI: {{request.user.progress.current_bmi}}<br>
        <strong>Target BMI</strong>: {{request.user.progress.target_bmi}}
    </p>
    {% if progress_percentage == 0 %}
        <h1 style="color:red; margin-left:10px;">CONGRATULATIONS!</h1>
        <p style="margin-left:10px;><strong>You have reached your goal!</strong></p>

    {% else %}
        <span>
            <div class="progress" style="height:40px; width:40%; margin-left:30px;">
                <div class="progress-bar" style="width:{{progress_percentage}}%">
                    {{progress_percentage}}%
                </div>
            </div>
        </span>
    {% endif %}

    <p style="margin-left:30px;"><a href="{%url 'update_progress' request.user.pk %}">Add Progress</a></p>


    <hr>
    <p><strong>(Not how the dashboard will look like, just to see the database)</strong></p>
    <br>

    {% if request.user.diet %}
        <h4>Dietary Preferences</h4>
        <p> Excluded Cuisines: {{ request.user.diet.exclude_cuisines }}
        <br> Excluded Ingredients: {{ request.user.diet.exclude_ingredients }}
        <br> Diet Types: {{ request.user.diet.diets }}
        <br> Intolerances: {{ request.user.diet.intolerances }}
        <br> Daily calories before starting the program: {{ request.user.diet.daily_calories }} calories</p>

    {% endif %}

{% endblock content %}
