{% extends 'base.html' %}
{% block content %}

    <br>
    <h2>Welcome {{request.user.username}}!</h2>
    <br>

    {% if not request.user.diet %}
        <p>To get started, please fill in your preferences to generate recipes.</p>
        <p><a href="{%url 'set_dietary_preferences' request.user.pk %}">Add Preferences</a></p>
    {% else %}
        <p><a href="{%url 'set_dietary_preferences' request.user.pk %}">Edit Preferences</a></p>
        <p><a href="{%url 'view_recipe_recommendations' request.user.pk %}">View Recipes based on preferences</a></p>
    {% endif %}



    <hr>
    <p><strong>(Not how the dashboard will look like, just to see the database)</strong></p>
    <br>

    {% if request.user.diet %}
        <h4>Dietary Preferences</h4>
        <p> Excluded Cuisines: {{ request.user.diet.exclude_cuisines }}
        <br> Excluded Ingredients: {{ request.user.diet.exclude_ingredients }}
        <br> Diet Types: {{ request.user.diet.diets }}
        <br> Intolerances: {{ request.user.diet.intolerances }}</p>
    {% endif %}

    <h4>Starting Information:</h4>
    <p>
        Starting Height: {{request.user.progress.starting_height}}<br>
        Starting Weight: {{request.user.progress.starting_weight}}<br>
    </p>
    <h4>Current Progress (as of {{request.user.progress.last_updated}}):</h4>
    <p>
        Current Height: {{request.user.progress.current_height}}<br>
        Current Weight: {{request.user.progress.current_weight}}<br>
        Current BMI: {{request.user.progress.current_bmi}}<br>
        <strong>Target BMI</strong>: {{request.user.progress.target_bmi}}
    </p>

    <p><a href="{% url 'update_progress' request.user.progress.pk %}">Update Progress</a></p>
{% endblock content %}
