{% extends 'base.html' %}
{% block content %}

<h1>Recipes</h1>
<br>
<h3> {{ recipe_information.title }} (ID: {{recipe_information.id}}) </h3>
<img src="{{ recipe_information.image }}">
<p>Servings: {{ recipe_information.servings }}</p>
<br>
<p>
    <strong>About the Recipe (per serving):</strong><br>
    Calories: {{ calories.amount }} {{ calories.unit }} <br>
    Fats: {{ fats.amount }} {{ fats.unit }} <br>
    Saturated Fats: {{ saturated_fats.amount }} {{ saturated_fats.unit }} <br>
    Carbohydrates: {{ carbs.amount }} {{ carbs.unit }} <br>
    Sugars: {{ sugars.amount }} {{ sugars.unit }}  <br>
    Protein: {{ protein.amount }} {{ protein.unit }} <br>
</p>
<br>
<p>
    <strong>Ingredients (for {{recipe_information.servings}} servings):</strong><br>
    {{ ingredients }}
</p>

{% endblock %}